<!-- Validation failure messages -->
<% if @practice_interview.errors.any? %>
  <% @practice_interview.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Submit your responses to this practice interview</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_practice_interview/<%= @practice_interview.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

<!-- Hidden input for user_id -->
      <input name="user_id" type="hidden" value="<%= current_user.id %>">


      <!-- Hidden input for practice_question_id's -->
      <input name="pq_1" type="hidden" value="<%= @pq_1.id %>">
      <input name="pq_2" type="hidden" value="<%= @pq_2.id %>">
      <input name="pq_3" type="hidden" value="<%= @pq_3.id %>">
      <input name="pq_4" type="hidden" value="<%= @pq_4.id %>">
      <input name="pq_5" type="hidden" value="<%= @pq_5.id %>">

      <div class="form-group">
        <label for="response_1" class="control-label">
          <%= @practice_interview.questions.first.question %>
        </label>

        <input type="text" id="response_1" name="response_1" placeholder="response" class="form-control">

        <label for="response_2" class="control-label">
          <%= @practice_interview.questions.second.question %>
        </label>

        <input type="text" id="response_2" name="response_2" placeholder="response" class="form-control">

        <label for="response_3" class="control-label">
          <%= @practice_interview.questions.third.question %>
        </label>

        <input type="text" id="response_3" name="response_3" placeholder="response" class="form-control">

        <label for="response_4" class="control-label">
          <%= @practice_interview.questions.fourth.question %>
        </label>

        <input type="text" id="response_4" name="response_4" placeholder="response" class="form-control">

        <label for="response_5" class="control-label">
          <%= @practice_interview.questions.fifth.question %>
        </label>

        <input type="text" id="response_5" name="response_5" placeholder="response" class="form-control">
      </div>

      <button class="btn btn-warning">
        Submit your responses
      </button>
      or
      <a href="/practice_interviews/<%= @practice_interview.id %>">Cancel</a>
    </form>
  </div>
</div>
