<div class="page-header">
  <h3>Practice interview created at <%= @practice_interview.created_at %></h3>
</div>

<div class="row">
  <div class="col-md-12">

    <table class="table table-striped table-hover">
      <tr>
        <th>Question</th>
        <th>Your response</th>
      </tr>

      <tr>
        <td><%= @pq_1.question %></td>
        <td><%= @r_1 %></td>
      </tr>
      <tr>
      <td><%= @pq_2.question %></td>
        <td><%= @r_2 %></td>
      </tr>
      <tr>
        <td><%= @pq_3.question %></td>
        <td><%= @r_3 %></td>
      </tr>
      <tr>
        <td><%= @pq_4.question %></td>
        <td><%= @r_4 %></td>
      </tr>
      <tr>
        <td><%= @pq_5.question %></td>
        <td><%= @r_5 %></td>

      </tr>
    </table>


    <div class="btn-group btn-group-justified">
      <a href="/practice_interviews" class="btn btn-primary">
        Back
      </a>
      <a href="/practice_interviews/<%= @practice_interview.id %>/edit" class="btn btn-warning">
        Take interview again
      </a>
      <a href="/delete_practice_interview/<%= @practice_interview.id %>" class="btn btn-danger" rel="nofollow">
        Delete this practice interview
      </a>
    </div>
  </div>
</div>
